@model FinancialYearDto
@{
    ViewData["Title"] = "FinancialYear";
}
<!-- Page Header -->
<div class="page-header">
    <div class="row align-items-center">
        <div class="col-sm mb-2 mb-sm-0">
            <h1 class="page-header-title">@ViewBag.NameOfForm</h1>
            <h6>Full details of a @ViewBag.NameOfForm</h6>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <!-- Body -->
            <div class="card-body">
                <div class="row">
                    <!-- FY Description -->
                    <div class="col-sm-4">
                        <div class="mb-4">
                            <label asp-for="FYDescription">Financial Year Description</label>
                            <input type="text" asp-for="FYDescription" class="form-control" disabled />
                            <span asp-validation-for="FYDescription" class="text-danger"></span>
                        </div>
                    </div>
                    <!-- FY CodePrefix -->
                    <div class="col-sm-4">
                        <div class="mb-4">
                            <label asp-for="CodePrefix">Code Prefix</label>
                            <input type="text" asp-for="CodePrefix" class="form-control" />
                            <span asp-validation-for="CodePrefix" class="text-danger"></span>
                        </div>
                    </div>
                    <!-- FY Code -->
                    <div class="col-sm-4">
                        <div class="mb-4">
                            <label asp-for="FYCode">Financial Year Code</label>
                            <input type="text" asp-for="FYCode" class="form-control" disabled />
                            <span asp-validation-for="FYCode" class="text-danger"></span>
                        </div>
                    </div>

                    <!-- Start Date -->
                    <div class="col-sm-4">
                        <div class="mb-4">
                            <label asp-for="FYStartDate">Start Date</label>
                            <input type="date" asp-for="FYStartDate" class="form-control" disabled />
                            <span asp-validation-for="FYStartDate" class="text-danger"></span>
                        </div>
                    </div>

                    <!-- End Date -->
                    <div class="col-sm-4">
                        <div class="mb-4">
                            <label asp-for="FYEndDate">End Date</label>
                            <input type="date" asp-for="FYEndDate" class="form-control" disabled />
                            <span asp-validation-for="FYEndDate" class="text-danger"></span>
                        </div>
                    </div>

                    <!-- Is Current Year -->
                    <div class="col-sm-4">
                        <div class="mb-4">
                            <label>Current Year</label><br />
                            <label class="form-check form-switch">
                                <input type="checkbox" asp-for="isCurrentYear" class="form-check-input" disabled />
                            </label>
                            <span asp-validation-for="isCurrentYear" class="text-danger"></span>
                        </div>
                    </div>

                    <!-- Is Locked -->
                    <div class="col-sm-4">
                        <div class="mb-4">
                            <label>Locked</label><br />
                            <label class="form-check form-switch">
                                <input type="checkbox" asp-for="isLock" class="form-check-input" disabled />
                            </label>
                            <span asp-validation-for="isLock" class="text-danger"></span>
                        </div>
                    </div>

                    <!-- Tenant Name -->
                    <div class="col-sm-4">
                        <div class="mb-4">
                            <label asp-for="TenantName">Tenant Name</label>
                            <input type="text" asp-for="TenantName" class="form-control" disabled />
                            <span asp-validation-for="TenantName" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <!-- Action buttons -->
                <div class="d-flex justify-content-start gap-3">
                    <a class="btn btn-primary me-2" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
                    <a asp-action="Index" class="btn btn-white" id="bt">Back to List</a>
                </div>
            </div>

        </div>
    </div>
</div>

@section scripts 
{
    <script>
        (function () {
            window.onload = function () {


                // INITIALIZATION OF NAVBAR VERTICAL ASIDE
                // =======================================================
                new HSSideNav('.js-navbar-vertical-aside').init()


                // INITIALIZATION OF FORM SEARCH
                // =======================================================
                new HSFormSearch('.js-form-search')


                // INITIALIZATION OF BOOTSTRAP DROPDOWN
                // =======================================================
                HSBsDropdown.init()


                // INITIALIZATION OF SELECT
                // =======================================================
                HSCore.components.HSTomSelect.init('.js-select')


                // INITIALIZATION OF ADD FIELD
                // =======================================================
                new HSAddField('.js-add-field', {
                    addedField: field => {
                        HSCore.components.HSTomSelect.init(field.querySelector('.js-select-dynamic'))
                        HSCore.components.HSMask.init(field.querySelector('.js-input-mask'))
                    }
                })


                // INITIALIZATION OF INPUT MASK
                // =======================================================
                HSCore.components.HSMask.init('.js-input-mask')
            }
        })()
    </script>
 }
