@model CompanyDto
@{
    ViewData["Title"] = "Company";
}
<!-- Page Header -->
<div class="page-header">
    <div class="row align-items-center">
        <div class="col-sm mb-2 mb-sm-0">
            <h1 class="page-header-title">@ViewBag.NameOfForm</h1>
            <h6>Full details of a  @ViewBag.NameOfForm </h6>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <!-- Body -->
            <div class="card-body">
                <div class="row">

                    <!-- CompanyCode -->
                    <div class="col-sm-4">
                        <div class="mb-4">
                            <label asp-for="CompanyCode">Company Code</label>
                            <input type="text" asp-for="CompanyCode" class="form-control" disabled />
                            <span asp-validation-for="CompanyCode" class="text-danger"></span>
                        </div>
                    </div>

                    <!-- Name -->
                    <div class="col-sm-4">
                        <div class="mb-4">
                            <label asp-for="Name">Company Name</label>
                            <input type="text" asp-for="Name" class="form-control" disabled />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                    </div>

                    <!-- Email -->
                    <div class="col-sm-4">
                        <div class="mb-4">
                            <label asp-for="Email">Email</label>
                            <input type="email" asp-for="Email" class="form-control" disabled />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>

                    <!-- Phone -->
                    <div class="col-sm-4">
                        <div class="mb-4">
                            <label asp-for="Phone">Phone</label>
                            <input type="text" asp-for="Phone" class="form-control" disabled />
                            <span asp-validation-for="Phone" class="text-danger"></span>
                        </div>
                    </div>

                    <!-- Mobile -->
                    <div class="col-sm-4">
                        <div class="mb-4">
                            <label asp-for="Mobile">Mobile</label>
                            <input type="text" asp-for="Mobile" class="form-control" disabled />
                            <span asp-validation-for="Mobile" class="text-danger"></span>
                        </div>
                    </div>

                    <!-- Website -->
                    <div class="col-sm-4">
                        <div class="mb-4">
                            <label asp-for="Website">Website</label>
                            <input type="text" asp-for="Website" class="form-control" disabled />
                            <span asp-validation-for="Website" class="text-danger"></span>
                        </div>
                    </div>

                </div>


                <div class="d-flex justify-content-start gap-3">
                    <a class="btn btn-primary  me-2" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
                    <a asp-action="Index" class="btn btn-white" id="bt">Cancel</a>
                </div>
            </div>
        </div>
    </div>
</div>



@section scripts
{
    <script>
        (function () {
            window.onload = function () {


                // INITIALIZATION OF NAVBAR VERTICAL ASIDE
                // =======================================================
                new HSSideNav('.js-navbar-vertical-aside').init()


                // INITIALIZATION OF FORM SEARCH
                // =======================================================
                new HSFormSearch('.js-form-search')


                // INITIALIZATION OF BOOTSTRAP DROPDOWN
                // =======================================================
                HSBsDropdown.init()


                // INITIALIZATION OF SELECT
                // =======================================================
                HSCore.components.HSTomSelect.init('.js-select')


                // INITIALIZATION OF ADD FIELD
                // =======================================================
                new HSAddField('.js-add-field', {
                    addedField: field => {
                        HSCore.components.HSTomSelect.init(field.querySelector('.js-select-dynamic'))
                        HSCore.components.HSMask.init(field.querySelector('.js-input-mask'))
                    }
                })


                // INITIALIZATION OF INPUT MASK
                // =======================================================
                HSCore.components.HSMask.init('.js-input-mask')
            }
        })()
    </script>
}
