@model BankDto

@{
    ViewData["Title"] = "Bank";
}

@{
    var currentUrl = Context.Request.Path.ToString();

    var tenantId = Context.TenantId();
    var companyId = Context.CompanyId();
    var isTenantAdmin = Context.IsTenantAdmin();
}


<!-- Page Header -->
<link href="~/lib/notyf/notyf.min.css" rel="stylesheet" />
<script src="~/lib/notyf/notyf.min.js"></script>
<script src="~/lib/notyf/customnotyf.js"></script>
<div class="page-header">
    <div class="row align-items-center">
        <div class="col-sm mb-2 mb-sm-0">
            <h1 class="page-header-title">Add @ViewBag.NameOfForm</h1>
        </div>
    </div>
</div>

@if (!ViewData.ModelState.IsValid)
{
    foreach (var state in ViewData.ModelState)
    {
        if (state.Value.Errors.Count > 0)
        {
            foreach (var error in state.Value.Errors)
            {
                <script>
                    notyf.error({
                        message: '@error.ErrorMessage',
                        duration: 10000 // 10 seconds
                    });
                </script>
            }
        }
    }
}

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <form asp-action="Create" method="post">
                    <div class="row">

                        <!-- Swift Code -->
                        <div class="col-sm-4">
                            <div class="mb-4">
                                <label asp-for="SwiftCode">Swift Code</label>
                                <input type="hidden" asp-for="SwiftCode"/>
                                <input type="text" asp-for="SwiftCode" class="form-control" disabled/>
                                <span asp-validation-for="SwiftCode" class="text-danger"></span>
                            </div>
                        </div>

                        <!-- Bank Name -->
                        <div class="col-sm-4">
                            <div class="mb-4">
                                <label asp-for="BankName">Bank Name</label>
                                <input type="text" asp-for="BankName" class="form-control" />
                                <span asp-validation-for="BankName" class="text-danger"></span>
                            </div>
                        </div>

                        <!-- Account Number -->
                        <div class="col-sm-4">
                            <div class="mb-4">
                                <label asp-for="AccountNo">Account No</label>
                                <input type="text" asp-for="AccountNo" class="form-control" />
                                <span asp-validation-for="AccountNo" class="text-danger"></span>
                            </div>
                        </div>
                        
                        <!-- Tenant Dropdown -->
                        </div>

                        <!-- Address -->
                        <div class="col-sm-6">
                            <div class="mb-4">
                                <label asp-for="Address">Address</label>
                                <textarea asp-for="Address" class="form-control"></textarea>
                                <span asp-validation-for="Address" class="text-danger"></span>
                            </div>
                        </div>

                        <!-- Description -->
                        <div class="col-sm-6">
                            <div class="mb-4">
                                <label asp-for="Description">Description</label>
                                <textarea asp-for="Description" class="form-control"></textarea>
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>
                        </div>


                        <!-- Active Checkbox -->
                        <div class="col-sm-4">
                            <div class="mb-4">
                                <label>Active</label><br />
                                <label class="checkboxs mb-5">
                                    <input type="checkbox" asp-for="Active" />
                                    <span class="checkmarks"></span>
                                </label>
                                <span asp-validation-for="Active" class="text-danger"></span>
                            </div>
                        </div>

                    <!-- Form buttons -->
                    <div class="d-flex justify-content-start gap-3">
                        <button type="submit" class="btn btn-primary me-2">Submit</button>
                        <a asp-action="Index" class="btn btn-white" id="bt">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- JS CompanySelect -->
<script src="~/FrontentJs/dropdowns/companyselect.js"></script>

@section scripts {
    <script>
        (function () {
            window.onload = function () {


                // INITIALIZATION OF NAVBAR VERTICAL ASIDE
                // =======================================================
                new HSSideNav('.js-navbar-vertical-aside').init()


                // INITIALIZATION OF FORM SEARCH
                // =======================================================
                new HSFormSearch('.js-form-search')


                // INITIALIZATION OF BOOTSTRAP DROPDOWN
                // =======================================================
                HSBsDropdown.init()


                // INITIALIZATION OF SELECT
                // =======================================================
                HSCore.components.HSTomSelect.init('.js-select')


                // INITIALIZATION OF ADD FIELD
                // =======================================================
                new HSAddField('.js-add-field', {
                    addedField: field => {
                        HSCore.components.HSTomSelect.init(field.querySelector('.js-select-dynamic'))
                        HSCore.components.HSMask.init(field.querySelector('.js-input-mask'))
                    }
                })


                // INITIALIZATION OF INPUT MASK
                // =======================================================
                HSCore.components.HSMask.init('.js-input-mask')


                // INITIALIZATION CompanySelect
                // =======================================================
                var companyId = '@companyId';
                initializeCompanySelect(companyId);
            }
        })()
    </script>
}
